html,
body,
.view, 
.rgba-gradient{
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  .view {
    height: 100%;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
}

.top-nav-collapse {
  background-color: #424f95 !important;
  border: 1px white;
}


@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f4b92 !important;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

footer{
  border: 1px solid white;
  margin-bottom: 0;
  width: 100%;
}

/*Porfolio*/
.card-title{
  clear: both;
  font-size: 45px;
  bottom: 10px;
  font-family: 'Permanent Marker', cursive;
  background-color: rgba(29, 210, 177, 0.7) 100%);
}

.card{
  margin-top: 10px;
  text-align: center;
}

/*Contact*/
.sidebar{
  float: right;
  width: 100%;
  padding: 25px;
  border:1px solid white;
  color: white;
}

.main-section{
  clear: both;
  float: left;
}



