html,
body{
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  height: 100%;
  background-size: cover;
}

.container{
  flex-grow: 1;
  height: 100%;
}

/*Header and Footer*/
header{
  border-bottom: 3px solid white;
  width: 100%;
}

footer{
  border-top: 3px solid white;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.mb-4{
  font-size: 25px;
  color: white;
}

/*Porfolio*/
.row{
  margin-top: 10px;
}

.card-title{
  clear: both;
  font-size: 45px;
  bottom: 10px;
  text-align: center;
}

.card{
  margin-top: 20 px;
}


/*Contact*/
h1{
  font-size: 45px;
  text-align: center;
  color: white;
}

input[type=text], textarea, input{
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: both;
  width: 100%;
}

input[type=submit]{
  background-color: white;
  color: rgba(42, 27, 161, 0.7);
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.main-section{
  border-radius: 5px;
  padding: 15px;
  background-color: #ccc;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 70%;
}

.sidebar{
  clear: both;
  padding: 5px;
  border:1px solid white;
  border-radius: 5px;
  color: white;
  float: left;
  margin-bottom: 100px;
  width: 100%;
  height: 30%;
}

.connect{
  text-align: center;
  line-height: 40px;
}

.fa{
  clear: both;
  font-size: 50px;
  margin-right: 10px;
  padding: 5px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github{
  background-color: black;
  color: white;
}

 @media screen and (max-width: 500px)
 {
  .col{
    width: 100%;
  }
}

@media screen and (max-width: 760px)
 {
  .col{
    width: 100%;
  }
}

@media screen and (max-width: 980px)
 {
  .col{
    width: 100%;
  }
}
